.users {
  max-width: 70vw;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.users a {
  display: block;
  margin-bottom: 0.8vw;
  padding: 10px;
  background-color: #f9f6f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.users a:hover {
  background-color: #e9e6e2;
}

.users div {
  font-size: 1.5vw;
  color: #333;
}

.users h2 {
  font-size: 2vw;
  margin-bottom: 20px;
  color: #472a16;
  text-align: center;
}
